{% extends 'layout.html' %}
{% load static %}
{% block content %}

    <div class="card">
        <div class="card-body">

            <h4 class="header-title">Image thumbnails</h4>
            <p class="card-title-desc">In addition to our border-radius utilities, you can use
                <code>.img-thumbnail</code> to give an image a
                rounded 1px border appearance.</p>

            <div class="">
                <img class="img-thumbnail" alt="200x200" style="width: 200px; height: 200px;"
                     src="https://themesdesign.in/xoric/layouts/blue/vertical/assets/images/small/img-3.jpg"
                     data-holder-rendered="true">
            </div>
        </div>
    </div>

{% endblock %}